{% assign item = include.item %}
{% assign is_active = false %}
{% if page.url == item.url %}
  {% assign is_active = true %}
{% elsif item.url != '/' and page.url contains item.url %}
  {% assign is_active = true %}
{% elsif item.url == '/members/' and page.collection == 'members' %}
  {% assign is_active = true %}
{% elsif item.url == '/news/' and page.collection == 'posts' %}
  {% assign is_active = true %}
{% endif %}
<li>
  <a href="{{ item.url | relative_url }}" {% if is_active %}class="active" aria-current="page"{% endif %}>{{ item.title }}</a>
</li>
